/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

header {
  font:
  /* line-height: */ normal
  /* font-weight: */ bold
  /* font-stretch: */ normal
  /* font-variant: */ normal
  /* font-size:*/ 20px
  /* font-family: */ 'Roboto', sans-serif;
  /* font-weight: bold; */
  background: #0fb9b1;
  padding: .25em 1.75em .25em 2em;
}

body {
  background:
    url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/burger-friends.jpg)
    0% 0% / cover /* position / size */
    no-repeat /* repeat */
    local /* attachment */
    border-box /* origin */
    border-box /* clip */
    /* color */
    ;
  margin: auto;
  height: 100%;
}

.box-container {
  display: flex;
  justify-content: space-between;
  padding: 3.5% 8.5% 3.5% 8.5%;
}

.meal-select,
.cookpot-container {
  display: flex;
  background: rgba(225, 225, 225, .9);
  width: 42.5%;
  padding-bottom: 34.25%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.meal-select {
  flex-direction: column;
}

.cookpot-container {
  background: url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/cookpot.svg)
  50% 50% / 12.25em /* position / size */
  no-repeat /* repeat */
  local /* attachment */
  border-box /* origin */
  border-box /* clip */
  rgba(225, 225, 225, .9)/* color */
  ;
  background-repeat: no-repeat;
}

.cookpot {
  object-fit: none;
  /* padding: 10em 10em 10em 10em; */
}

/* .cookpot {
  margin: auto;
  object-fit: none;
} */
