/* relative unit for entire page */
html {
  font-size: 1vw;
}

/* header */
header {
  font-size: .825em;
  background: #0fb9b1;
  padding: .25em 2em .25em 2.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-a-recipe {
  border: none;
  border-radius: .4em;
  font-size: 1.3em;
  padding: .65em .7em;
}

.add-a-recipe:hover .add {
  display: none;
}

.add-a-recipe:hover .coming-soon {
  display: block;
}

/* entire body */
body {
  display: flex;
  flex-direction: column;
  background:
    url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/burger-friends.jpg)
    0% 0% / cover
    no-repeat;
  margin: auto;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.box-container {
  display: flex;
  justify-content: space-between;
  padding: 3.5% 8.5% 3.5% 8.5%;
}

/* both divs */
.meal-select,
.cookpot-container {
  background: rgba(225, 225, 225, .9);
  width: 35%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3em 3em 3em 3em;
}

/* meal select div */
.meal-select {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 21.1rem;
}

.looking-for {
  font-size: 2.1em;
  margin-bottom: .4em;
}

.asterisk {
  color: rgb(239,82,84);
  vertical-align: super;
  font-size: .8em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 .25em;
  align-items: flex-start;
  margin: auto;
}

input[type="radio"] {
  width: 1vw;
  height: 1vw;
  margin-right: 1em;
}

label {
  font-size: 1.4em;
  margin: .75rem 0 .75rem 0;
}

input[type="radio"]:hover,
label:hover {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.lets-cook,
.clear {
  background-color: #0fb9b1;
  border: none;
  border-radius: .35em;
  font-size: 1em;
  padding: 2.5% 13.25%;
  margin-top: .5em;
}

/* cookpot div */
.cookpot-container {
  display: flex;
  background: url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/cookpot.svg)
  50% 50% / 8.25em
  no-repeat
  rgba(225, 225, 225, .9)
  ;
}

.hide-background-image { 
  background-image: none;
}

@keyframes cookerino {
  0% {
    background-position: 25% 50%;
    filter: blur(.25em);
  }
  50% {
    background-position: 75% 50%;
    filter: invert(75%) blur(.25em);
  }
  100% {
    background-position: 25% 50%;
    filter: blur(.25em);
  }
}

.cook-animation {
  animation: cookerino 1s infinite;
  background-image: url(https://imgr.search.brave.com/VCwuKeEb_iLPHe_a3hBFvlWxOjmlu5SGHDdN58zJAjM/fit/980/930/no/1/aHR0cHM6Ly9jZG4u/b25saW5ld2ViZm9u/dHMuY29tL3N2Zy9p/bWdfMjE2NjExLnBu/Zw);
}

/* Newly generated div */
.random-meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0 0 0;
}

@keyframes mealpop {
  0% {transform: scale(0);}
  50% {transform: scale(1.5) rotate(720deg);}
  100% {transform: scale(1);}
}

.meal-container {
  height: 4rem;
  width: 30rem;
  animation: mealpop 2s 1;
}

.you-should-make, .this-meal {
  margin: 0 auto 0 auto;
}

.you-should-make {
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: 2rem;
}

.this-meal {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  /* padding: 1rem; */
}

.clear-container {
  display: flex;
  padding: 2.5% 0 0 13.25%;
  justify-content: flex-end;
  width: 25rem;
}

.clear {
  background-color: #95A5A7;
  color: white;
  padding: 2.5% 4%;
  margin-top: 4em;
  height: 2.3rem;
}

/* Hidden Class */
.hidden {
  display: none;
}

/* Animation */
.btn {
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: #DC976F;
  color: #2593D4;
  transform: scale(1.1);
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

.doge {
  animation: fadein 3s;
  width: 100%;
  height: 100%;
  background: url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/corgi-meme-king-1.jpeg) 0% 40% / cover no-repeat;
}

.doge2 {
  animation: fadein 3s;
  width: 100%;
  height: 100%;
  background: url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/smily.jpeg) 20% 0% / cover no-repeat;
}
