/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* relative unit for entire page */
html {
  font-size: 1vw;
}

/* header */
header {
  font:
  /* line-height: */ normal
  /* font-weight: */ bold
  /* font-stretch: */ normal
  /* font-variant: */ normal
  /* font-size:*/ .8em
  /* font-family: */ 'Roboto', sans-serif;
  /* font-weight: bold; */
  background: #0fb9b1;
  padding: .25em 2em .25em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-a-recipe-container {
}

.add-a-recipe {
  border: none;
  border-radius: .5em;
  font-size: 1.3em;
  padding: .75em .75em;
}

/* entire body */
body {
  background:
    url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/burger-friends.jpg)
    0% 0% / cover /* position / size */
    no-repeat /* repeat */
    local /* attachment */
    border-box /* origin */
    border-box /* clip */
    /* color */
    ;
  margin: auto;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.box-container {
  display: flex;
  justify-content: space-between;
  padding: 3.5% 8.5% 3.5% 8.5%;
}

/* both divs */
.meal-select,
.cookpot-container {
  /* display: flex; */
  background: rgba(225, 225, 225, .9);
  width: 35%;
  padding-bottom: 34.25%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3em;
}

/* meal select div */
.meal-select {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.looking-for {
  font-size: 2em;
}

.asterisk {
  color: red;
  vertical-align: super;
}

ul {
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
}

li {
  font-size: 1.5em;
  margin: .75em 0 .75em 0;
}

.lets-cook {
  background-color: #0fb9b1;
  border: none;
  border-radius: .5em;
  font-size: 1em;
  padding: 2% 10%;
}

/* cookpot div */
.cookpot-container {
  background: url(/Users/nolancaine/turing/m1/projects/whats-for-dinner/assets/cookpot.svg)
  50% 50% / 8em /* position / size */
  no-repeat /* repeat */
  local /* attachment */
  border-box /* origin */
  border-box /* clip */
  rgba(225, 225, 225, .9)/* color */
  ;
  background-repeat: no-repeat;
}

.cookpot {
  object-fit: none;
  /* padding: 10em 10em 10em 10em; */
}

/* .cookpot {
  margin: auto;
  object-fit: none;
} */
